<header>
    <nav class="navbar pe-3">
        <div class="d-flex align-items-center nav-title">
            <img src="{{ asset('build/images/logo_ten_header.png') }}" alt="logo du site">
            <a href="{{ path('app_home') }}"><span class="title-bicolor-light">ten</span><span
                        class="title-bicolor-dark">school</span></a>
        </div>
        <div>
            <ul class="d-flex">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_back-office') }}">Tableau de bord</a></li>
                {% endif %}
                {% if not app.user %}
                    <li><a class="btn-regular-green" href="{{ path('app_login') }}">se connecter</a></li>
                {% else %}
                    <li><a class='btn-regular-green' href="{{ path('app_logout') }}">se déconnecter</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if app.user %}
        <div class="nav-subjects-all d-flex position-relative">
            <nav class="nav-subjects d-flex flex-column justify-content-end text-end">
                <ul>
                    {% for subject in get_all_subject() %}
                        {% for subject in subject %}
                            {% if subject.subject is empty %}
                                <li>
                                    <a href="{{ path('app_subjects_subject', {'subject': subject.id}) }}">{{ subject.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="d-flex align-items-center">
                <div class="btn-nav-subjects d-flex justify-content-center align-items-center">
                    <img id="nav-subjects-caret-right" src="{{ asset('build/images/caret-right-dark.png') }}" alt="">
                </div>
            </div>
        </div>
    {% endif %}
</header>